Source: mdcheckr
Maintainer: Michael Billington <michael.billington@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mdcheckr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pandoc, curl, libxml2-utils, which
Description:
 check markdown files for broken links and other errors
